body {
  margin: 0;
}

#container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#e0eff5, #fff);
  overflow: hidden;
}

#Train1 {
  transform: translateX(-1500px);
  animation: train1Animation 10s linear infinite;
}

@keyframes train1Animation {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(1500px);
  }
}

#Train2 {
  transform: translateX(1500px);
  animation: train2Animation 11s linear infinite;
}

@keyframes train2Animation {
  from {
    transform: translateX(1500px);
  }

  to {
    transform: translateX(-1500px);
  }
}
